<div class="container-fluid main-header">
  <div class="row">
    <div class="container col-sm-6 main-header-text">
      <h1>Log your workouts.</h1>
      <h1>Track your progress.</h1>
    </div>
    <div class="container col-sm-6 right-column">
      <button class="btn header-button" routerLink="/login">Get started</button>
    </div>
  </div>
</div>

<div class="container-fluid info-container">
  <div class="row">
    <div class="col-sm-12 col-md-6 site-desc-container">
      <h3 class="text-center mb-4">Why Lift Log?</h3>
      <p>
        Lift Log is a simple, easy to use, and free way to <span class="bold-text">track your workouts</span>. It's
        designed to be used on your phone
        or computer, so you can track your workouts anywhere.
      </p>
      <p>
        Lift Log is designed to be <span class="bold-text">simple and easy to use</span>. It's not designed to be a
        social media platform, or a
        community. It's designed to be a tool to help you track your workouts.
      </p>
      <p>
        Lift Log is <span class="bold-text">free</span> to use, and always will be.
      </p>
    </div>
    <div class="col-sm-12 col-md-6 img-container">

    </div>
  </div>
</div>

<div class="container-fluid info-container">
  <div class="row">
    <div class="col-sm-12 col-md-6 left-img-container">

    </div>
    <div class="col-sm-12 col-md-6 benefits-container">
      <h3 class="text-center">Benefits</h3>
      <span class="bold-text">Achieve your fitness goals-</span>
      <p>With custom routines and progress tracking, you'll be on the path to reaching your desired fitness level faster
        and more efficiently.</p>
      <span class="bold-text">Stay Motivated-</span>
      <p>The ability to see your progress and share achievements with the community keeps you motivated and accountable.
      </p>
      <span class="bold-text">Gain Valuable Insights-</span>
      <p>Analyze your progress with visual charts and graphs, allowing you to make data-driven decisions to improve your
        workouts.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid footer">
  <h4 style="padding-bottom: 1em;">Sign up for a free account and start tracking your workouts today!</h4>
  <button class="btn footer-button" routerLink="/login">Create an account</button>
</div>

<!-- <div class="container-fluid features-container">
  <div class="row">
    <div class="container col-sm-12">

      <div class="overlay">
        <p>Customize your routines</p>
        <div class="col-sm-6 icon-container">
          <img src="assets/magnifying.svg" alt="" style="color: white; width: 25vw; height: auto">
        </div>
      </div>




      <ul>
        <li>Customize your routines</li>
        <li>Gain insight with visual charts and graphs</li>
      </ul>

      <p>Sign up for a free account and start tracking your workouts today!</p>
      <button class="btn btn-primary" routerLink="/login">Create an account</button>
    </div>
  </div>
</div> -->


<!--
<app-gallery></app-gallery> -->