.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  background-color: #0B2027;
  height: 88vh;
  align-content: center;
}

.card {
  margin-top: 10vh;
}